.deftable {
 border:1px;
 border-spacing: 0px;
 width: 100%;
 border-style: solid;
}
.deftable td {
 border:1px;
 background-color: 0xFFFFFF;
 border-spacing: 0px;
 border-style: solid;
}
td .dirty {
background-color: 0xFF1111;
}